<h2>Products</h2>

<h3>Add A New Product</h3>
<form>
  <p>Name:</p>
  <input type="text" ng-model="newProduct.name">
  <p>Image: (URL)</p>
  <input type="text" ng-model="newProduct.imgUrl">
  <p>Description</p>
  <input type="text" ng-model="newProduct.description">
  <p>Initial Quantity</p>
  <input type="text" ng-model="newProduct.quantity">
  <input type="submit" ng-click="addProduct()" value="Submit">
</form>

<hr>
<label>Search: <input ng-model="searchText"></label>
<hr>

<table>
<thead>
  <tr>
    <td>Name:</td>
    <td>Image URL:</td>
    <td>Description:</td>
    <td>Initial Quantity:</td>
    <td>Actions:</td>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="product in products | filter:searchText">
    <td>{{product.name}}</td>
    <td>{{product.imgUrl}}</td>
    <td>{{product.description}}</td>
    <td>{{product.quantity}}</td>
    <td><button ng-click="deleteProduct(product._id)">Delete</button></td>
  </tr>
</tbody>
</table>
